# Для установки poetry add python-dotenv
# Перенеси все настройки config/settings.py
SECRET_KEY=
# Замени в файле насройки: DEBUG = True if os.getenv('DEBUG') == 'True' else False
DEBUG=
# Настройки подключения к базе данных
NAME=
USER=
PASSWORD=
HOST=
PORT=
# Настройки подключения к почтовому сервису
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=
EMAIL_USE_SSL=