# Для установки poetry add python-dotenv
# Перенеси все настройки config/settings.py
SECRET_KEY=
# Замени в файле насройки: DEBUG = True if os.getenv('DEBUG') == 'True' else False
DEBUG=
# Настройки подключения к базе данных
NAME=
USER=
PASSWORD=
HOST=
PORT=