{% extends 'mailing/base.html' %}
{% block title %}Пользователи сервиса{% endblock %}

{% block content %}

<h2 class="mt-2 text-center">Пользователи сервиса</h2>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">username</th>
        <th scope="col">Email</th>
        <th scope="col">is_staff</th>
        <th scope="col">is_active</th>
        <th scope="col">Блокировка пользователя</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.is_staff }}</td>
        <td>{{ user.is_active }}</td>
        <td>
            <form action="{% url 'mailing:block_user' user.pk %}" method="post">
                {% csrf_token %}
                <button class="btn btn-danger border-primary text-light" type="submit">Заблокировать</button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<hr class="featurette-divider">
{% endblock %}