{% extends 'mailing/base.html' %}
{% block title %}Детали сообщения{% endblock %}

{% block content %}

<h1 class="mt-5 text-center">Детали рассылки</h1>
<hr class="featurette-divider">
<div class="col-1"></div>
<div class="col-10">
    {% if object.is_active %}
    <form method="post">
        <div class="mt-5 card-body text-start">
            {% csrf_token %}
            <p>Название рассылки: {{ object.name }}</p>
            <p>Статус: {{ object.human_readable_status }}</p>
            <p>Сообщение: {{ object.text }}</p>

            {% with object.recipients.all as recipients %}
            <p>Получатели:</p>
            {% for r in recipients %}
            <p> {{ r.last_name }} {{ r.first_name }} {{ r.patronymic }}</p>
            {% endfor %}
            {% endwith %}

            <p>Дата и время первой отправки: {{ object.first_dispatch }}</p>
            <p>Дата и время окончания отправки: {{ object.end_dispatch }}</p>
        </div>
        {% if user == object.owner %}
        <div class="mt-5">
            <a href="{% url 'mailing:newsletter_update' object.pk %}" class="btn btn-secondary">Редактировать</a>
            <a href="{% url 'mailing:newsletter_delete' object.pk %}" class="btn btn-danger">Удалить</a>
            <a href="{% url 'mailing:newsletter_list' %}" class="btn btn-light border-primary text-primary">Назад</a>
        </div>
        <button type="submit" class="btn btn-primary mt-1">Запустить рассылку</button>
        {% endif %}
    </form>
    {% else %}
    <h3 class="mt-5 text-center">Данная рассылка отключена модератором</h3>
    {% endif %}
    {% if perms.mailing.disabling_mailings %}
    <form action="{% url 'mailing:moderation' object.pk %}" method="post">
        {% csrf_token %}
        <button class="btn btn-danger border-primary text-light" type="submit">Заблокировать рассылку</button>
        <a href="{% url 'mailing:moderation_newsletter_list' %}" class="btn btn-light border-primary text-primary">Назад</a>
    </form>
    {% endif %}
</div>

<hr class="featurette-divider">
{% endblock %}