{% extends 'mailing/base.html' %}
{% block title %}Рассылка{% endblock %}

{% block content %}

<h2 class="mt-2 text-center">Рассылка</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Название рассылки</th>
        <th scope="col">Текст рассылки</th>
        <th scope="col">Статус</th>
        <th scope="col">Начало рассылки</th>
        <th scope="col">Окончание рассылки</th>
        <th scope="col">Детали</th>
    </tr>
    </thead>
    <tbody>
    {% for news in newsletter %}
    <tr>
        <th scope="row">{{ news.id }}</th>
        <td>{{ news.name }}</td>
        <td>{{ news.text }}</td>
        <td>{{ news.human_readable_status }}</td>
        <td>{{ news.first_dispatch }}</td>
        <td>{{ news.end_dispatch }}</td>
        <td><a class="link" href="{% url 'mailing:newsletter_detail' news.pk %}">Подробнее</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<hr class="featurette-divider">
{% endblock %}