<div class="flex-shrink-0 p-3" style="width: 280px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
      <span class="fs-5 fw-semibold">Меню</span>
    </a>
    <ul class="list-unstyled ps-0">
      {% for m in menu %}
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-1 collapsed" data-bs-toggle="collapse" data-bs-target="#{{ m.unique }}-collapse" aria-expanded="false">
          {{ m.title }}

        </button>
        <div class="collapse" id="{{ m.unique }}-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 middle">
            <li><a href="{{ m.full_url }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">{{ m.list }}</a></li>
            <li><a href="{{ m.u_create }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">{{ m.create }}</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">{{ m.update }}</a></li>
            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">{{ m.delete }}</a></li>
          </ul>
        </div>
      </li>
      {% endfor %}
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          Account
        </button>
        <div class="collapse" id="account-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New...</a></li>
            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Profile</a></li>
            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Settings</a></li>
            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Sign out</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>