{% extends 'mailing/base.html' %}
{% load i18n static %}
{% block content %}

<hr class="featurette-divider mt-5">
<h2>{% translate "New password" %}</h2>
<p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
<hr class="featurette-divider">

<form method="post">
    {% csrf_token %}
    <div class="form-row field-password1">
      {{ form.new_password1.errors }}
      <div class="flex-container">
        <label for="id_new_password1">{% translate 'New password:' %}</label>
        {{ form.new_password1 }}
      </div>
    </div>
    <div class="form-row field-password2">
      {{ form.new_password2.errors }}
      <div class="flex-container">
        <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
        {{ form.new_password2 }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
</form>

{% endblock %}
